################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/dotnetFramework_JEN/obj
/dotnetFramework_JEN/bin
